<div class="posts">
    <div class="post" *ngFor="let post of posts">
        <div class="post-headline">
            <div>
                <a target="_blank" [href]="post.subreddit.url">{{post.subreddit.name}}</a> -
                {{post.creationDate | date:'medium' }}
            </div>
            <div class="post-source">
                <a target="_blank" [href]="post.author.profileUrl">{{ post.author.redditName }}</a>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-main">
                <div class="post-content-title">
                    <a target="_blank" [href]="post.url"><span class="video-title" [innerHtml]="post.title"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>